.homeGrid {
  display: grid;
  grid-template-columns: 95px 1.35fr 0.65fr;
  /* font-family: sans-serif; */
}
.productsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-right: 50px;
  color: #222222;
}
